# dictionary
- create
- access
- change
- methods

In [67]:
# data=[33,100,'sunny',6,'lucknow']
data={
    'temp': 33,
    'humidity': 100,
    'weather': 'sunny 游때',
    'wind': 6,
    'location': 'lucknow',

}
print(data)

{'temp': 33, 'humidity': 100, 'weather': 'sunny 游때', 'wind': 6, 'location': 'lucknow'}

In [68]:
students={
    'names': ['mahek','natasha',
              'aditya','yusuf'],
    'academics_lvl':['btech','bca',
                     'bba','bcom']
}
students

{'names': ['mahek', 'natasha', 'aditya', 'yusuf'],
 'academics_lvl': ['btech', 'bca', 'bba', 'bcom']}

In [69]:
# nested dictionary
products= {
    'fruits': [
        {'name': 'apple','qty' : 10},
        {'name' : 'banana','qty': 50},
        {'name': 'cherry','qty' : 25},
    ],
    'vegetable' :[
        {'name':'tomato','qty' : 100},
        {'name':'potato','qty' : 50},
        {'name':'onion','qty' : 25},
    ]
}
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25}],
 'vegetable': [{'name': 'tomato', 'qty': 100},
  {'name': 'potato', 'qty': 50},
  {'name': 'onion', 'qty': 25}]}

In [70]:
data['weather']

'sunny 游때'

In [71]:
products['vegetable']

[{'name': 'tomato', 'qty': 100},
 {'name': 'potato', 'qty': 50},
 {'name': 'onion', 'qty': 25}]

In [72]:
students['names']

['mahek', 'natasha', 'aditya', 'yusuf']

In [73]:
students['names'][3]

'yusuf'

In [74]:
students['names'][:3]

['mahek', 'natasha', 'aditya']

In [75]:
products['vegetable'][1]['name']

'potato'

In [76]:
# CHANGE VALUE OF EXISTING KEY
data['temp']=20
data['weather'] = 'thunderstorm'
data

{'temp': 20,
 'humidity': 100,
 'weather': 'thunderstorm',
 'wind': 6,
 'location': 'lucknow'}

In [4]:
# dict[new key]= new value (adds new key value pair)
students['names'].append('rohan'),
students['academic_lvl'].append('12th'),
students

NameError: name 'students' is not defined

In [ ]:
students['name']= 'something'
students

{'names': ['mahek', 'natasha', 'aditya', 'yusuf', 'rohan'],
 'academics_lvl': ['btech', 'bca', 'bba', 'bcom'],
 'name': 'something'}

In [ ]:
orange= {'name':'orange','qty': 10}
products['fruits'].append(orange)
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25},
  {'name': 'orange', 'qty': 10}],
 'vegetable': [{'name': 'tomato', 'qty': 100},
  {'name': 'potato', 'qty': 50},
  {'name': 'onion', 'qty': 25}]}

In [ ]:
products['cereals']= "no cereal availables"
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25},
  {'name': 'orange', 'qty': 10}],
 'vegetable': [{'name': 'tomato', 'qty': 100},
  {'name': 'potato', 'qty': 50},
  {'name': 'onion', 'qty': 25}],
 'cereals': 'no cereal availables'}

- methods
  - keys()
  - values()
  - items()
  - get()
  - update()
  - pop()

In [ ]:
list(data.keys())

['temp', 'humidity', 'weather', 'wind', 'location']

In [ ]:
list(data.values())

[33, 100, 'sunny 游때', 6, 'lucknow']

In [ ]:
list(data.items())

[('temp', 33),
 ('humidity', 100),
 ('weather', 'sunny 游때'),
 ('wind', 6),
 ('location', 'lucknow')]

In [ ]:
# simple for loop in dict only gives us the keys
for i in data:
    print(i)

temp
humidity
weather
wind
location

In [ ]:
# to extract key value pair from dict, use .items()
for i in data.items():
    print(i)

('temp', 33)
('humidity', 100)
('weather', 'sunny 游때')
('wind', 6)
('location', 'lucknow')

In [ ]:
for k, v in data.items():
    print(k,':',v)

temp : 33
humidity : 100
weather : sunny 游때
wind : 6
location : lucknow

In [ ]:
for key in data:
    print(key, data[key])

temp 33
humidity 100
weather sunny 游때
wind 6
location lucknow

In [ ]:
for key in data:
    print(data[key])

33
100
sunny 游때
6
lucknow

In [ ]:
x = {
    'apple' : 'juice',
    'orange' :'jam',
    'pineapple': 'juice',

}
y= {
    'potato' : 'fries',
    'tomato' : 'ketchup',
    
}

In [ ]:
x.update(y)
print(x)
print(y)

{'apple': 'juice', 'orange': 'jam', 'pineapple': 'juice', 'potato': 'fries', 'tomato': 'ketchup'}
{'potato': 'fries', 'tomato': 'ketchup'}

In [ ]:
print(x.get('apple')) # valid key - valid value
print(x.get('apples')) # invalid key - None
print(x.get('apples', 'Not found')) # Invalid key - default value
print(x.get('apple', 'Not found')) # valid key - valid value

In [ ]:
int = input('Enter item name')
print(x.get(int, 'Not found'))

juice